<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
		  integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<title>View Bookings to Driver</title>
	<style>
		@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

		 body{
			margin: 0px;
			border: 0px;
		}
		.card{
			background: #fff;
			border-radius: 20px;
			position: relative;
			margin: 20px 0;
		}

		.card .card-content{
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: 30px;
			position: relative;
			z-index: 100;
    	}

		#header{
			width: 100%;
			height: 120px;
			background: black;
			color: white;
		}
		#adminlogo{
			width: 80px;
			height: 80px;
			background: white;
			border-radius: 50px;
		}
    </style>
</head>
<body>
<div id="header">
	<center><img th:src="@{/images/R.png}" alt="adminlogo" id="adminlogo"><br>Admin Panel</center>
</div>
<div style="margin:40px 500px; font-size: 20px;">
	<section>
		<br><br><br>
		<div class="container">
			<div class="content">
				<div class="card">
					<div class="card-content" th:each="order, iStat : ${orders}">

						<div><center><span>ID: </span><span th:text="${order.id}">1.</span></center><br>

							<span>Driver Name: </span><span th:text="${order.driverName}">Joker</span></div>

						<div><span>Customer Name: </span><span th:text="${order.customer}">Batman</span></div>

						<div><span>Vehicle Type: </span><span th:text="${order.vehicleType}">batmobile@gmail.com</span></div>

						<div><span>Vehicle Branch: </span><span th:text="${order.vehicleBranch}">Gotham city</span></div>

						<div><span>Starting From:  </span><span th:text="${order.startingFrom}">Wayne mannor</span></div>

						<div><span>Destination: </span><span th:text="${order.destination}">Arkham asylum</span></div>

						<div><span>Status: </span><span th:text="${order.status}">Success</span></div>


						<div><a href="" th:href="@{/admin/bookings/delete/{id}(id=${order.id})}" class="btn btn-danger">Delete</a></div>

					</div>
				</div>
			</div>
		</div>
	</section>


	<div id="footer">
		<center>
			<br>
			<img th:src="@{/images/logo1.jpg}"  src="../static/images/logo1.jpg" width="auto" height="40" class="d-inline-block align-top" alt=""/>
			<a style= "font-family: sans-serif; font-size: 15px;"><br><br>GoCheeta</a>
		</center>
		<center><a th:href="@{/admin}" href="#" style="color: darkblue;">Admin-Home</a></center>
	</div>
</div>




<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</div>
</body>
</html>