<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <title>Document</title>
</head>
<body style="background-color:grey;">


<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img th:src="@{/images/logo1.jpg}"  src="../static/images/logo1.jpg" width="auto" height="40" class="d-inline-block align-top" alt=""/>
            <h6 width="auto" class="d-inline-block align-top">GoCheeta</h6>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto"></ul>
            <ul class="navbar-nav">
                <form th:action="@{/shop/bookings}">
                    <select hidden type="text" name="keyword" id="keyword" th:value="${keyword}">
                        <option th:value="${#authentication.principal.userName}"></option>
                    </select>
                    <input type="submit" value="Bookings" style="border:none; margin-top:7px; background-color: black; color:white;"/>
                </form>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/}" href="#">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/viewVehicles}" href="#">Vehicles</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/login}" href="#">login</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/logout}" href="#">logout</a>
                </li>
            </ul>

        </div>
    </div>
</nav>
<div class="container mt-5">
    <div class="row">
        <div class="col-sm-5 d-flex justify-content-center">
            <img class="mt-5" height="300px" width="300px" src="" th:src="@{${'/images/vehicleImages/' + product.imageName}}"
                 alt="">
        </div>
        <form th:action="@{/shop/viewproduct/{id}(id=${product.id})}" th:object="${book}" method="post">
            <input hidden type="text" th:value="${product.vehicle_type}" name="vehicleType" readonly>
            <input hidden type="text" th:value="${product.branch}" name="vehicleBranch" readonly>
            <input hidden type="text" th:value="${product.driver_id}" name="driverName" readonly>
            <input hidden type="text" value="Pending" name="status" readonly>
            <input hidden type="text" th:value="${#authentication.principal.userName}" name="customer" readonly>
            <div class="col-sm-7 mt-5">
                <h3 th:text="${product.vehicle_type}"></h3>
                <p th:text="${product.branch}"></p>
                <h5>Mobile Number: <span th:text="${product.mobileNumber}"></span></h5>
                <h5>Driver:
                    <spna th:text="${product.driver_id}"></spna>
                </h5>
                <input style="margin: 5px 5px 10px 10px" type="text" placeholder="Trip starting area" name="startingFrom">
                <input style="margin: 5px 5px 10px 10px" type="text" placeholder="Trip Destination" name="destination">
                <button style="margin-left: 3px; color: black;" type="submit">BOOK NOW</button>
            </div>
        </form>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>